/* ------------------------- import ------------------------- */

/* Google Fonts - ZCOOL XiaoWei */
/* https://fonts.google.com/specimen/ZCOOL+XiaoWei */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

/* ------------------------- All ------------------------- */

* {
  margin: 0;                                         /* マージン無効 */
  padding: 0;                                        /* パディング無効 */
}

body {
  /* 文字 */
  font-size: 20px;                                   /* フォントサイズ */
  font-family: 'ZCOOL XiaoWei', 'sans-serif';        /* フォント(一部外部フォント) */
  color: #D3D3D3;                                    /* 文字色 */
  /* 背景 */
  background-color: #000000;                         /* 背景色 */
  background-image: url("../images/background.jpg"); /* 背景画像 */
  background-repeat: no-repeat;                      /* タイル状に繰り返し表示しない */
  background-position: center center;                /* 上下左右中央 */
  background-size: cover;                            /* コンテナの大きさに基づいて自動拡大縮小 */
  background-attachment: fixed;                      /* コンテンツの高さが大きい時、動かないように固定 */
}

a {
  text-decoration: none;                             /* リンクの下線を非表示 */
}

/* 未訪問,訪問済,選択中(tab),選択中(カーソル),クリック時 リンク色(順序遵守) */
a:link    { color: #90EE90; }
a:visited { color: #90EE90; }
a:focus   { color: #7B68EE; }
a:hover   { color: #7B68EE; }
a:active  { color: #DC143C; }

/* ------------------------- Header/Footer ------------------------- */

header {
  width: 100%;                                       /* 横幅 */
  background-color: #000000;                         /* 背景色 */
  font-size: 25px;                                   /* フォントサイズ */
  color: #C48546;                                    /* 文字色 */
  line-height: 0;                                    /* 行の高さ(レイアウトが1行のため) */
  text-align: center;                                /* 文字位置 */
  /* 配置 */
  position: fixed;                                   /* 絶対配置(スクロール対応) */
  top: 0;                                            /* 上端配置 */
  left: 0;                                           /* 左端配置 */
  z-index: 10;                                       /* 重なり順序:最大 */
}

header nav ul li {
  /* ヘッダーの高さ調整 */
  margin-top: 10px;                                  /* 上マージン */
  margin-bottom: 10px;                               /* 下マージン */
  /* float調整 */
  float: left;                                       /* 要素を左に寄せて後続の<li>を右回り込み */
  list-style: none;                                  /* マーカー表示OFF */
  box-sizing: border-box;                            /* 横幅に罫線とパディング値を含める */
  width: 150px;                                      /* 横幅(<li>要素の間隔) */
}

/* --- ボタンデザイン(https://saruwakakun.com/html-css/reference/buttons#section4) --- */
header nav ul li label input {
  display: none;                                     /* チェックボックス非表示 */
}
/* 未訪問,訪問済,選択中(tab),選択中(カーソル),クリック時 リンク色(順序遵守) */
header nav ul li label a:link    { color: #C48546; }
header nav ul li label a:visited { color: #C48546; }
header nav ul li label a:focus   { color: #C48546; }
header nav ul li label a:hover   { color: #C48546; }
header nav ul li label a:active  { color: #C48546; }
/* ラベルにアニメーション属性付与可能な状態にする */
header nav ul li label {
  display: inline-block;                             /* インライン要素化 */
  transition: .4s;                                   /* アニメーション時間 */
}
/* ラベルホバー時に傾きアニメーション */
header nav ul li label:hover {
  transform: rotate(-0.9turn);
}

header nav ul:after {
  /* floatの不具合解消 */
  content: "";                                       /* <li>の最後に空文字を追加 */
  clear: both;                                       /* 空文字に対して回り込み解除 */
  display: block;                                    /* 空文字を含めてブロック要素化 */
}

footer {
  width: 100%;                                       /* 横幅 */
  background-color: #000000;                         /* 背景色 */
  font-size: 19px;                                   /* フォントサイズ */
  line-height: 1.0;                                  /* 行の高さ */
  text-align: center;                                /* 文字位置 */
  /* 配置 */
  position: fixed;                                   /* 絶対配置(スクロール対応) */
  bottom: 0;                                         /* 下端配置 */
  left: 0;                                           /* 左端配置 */
  z-index: 10;                                       /* 重なり順序:最大 */
}

footer aside #copyright {
  /* フッターの高さ調整 */
  margin-bottom: 4px;                               /* 下マージン */
}

/* ------------------------- Body ------------------------- */

/* タイプライター風入力 */
/* luisvinicius167/ityped(https://github.com/luisvinicius167/ityped) */
/* 要素の調整 */
#ityped {
  font-size: 22px;                                   /* フォントサイズ */
  /* 配置 */
  position: relative;                                /* 相対配置(元の配置を基準) */
  top: 50px;                                         /* 上端からマージン */
  left: 30px;                                        /* 左端からマージン */
  z-index: 9;                                        /* 重なり順序:最大-1 */
}
/* カーソル */
.ityped-cursor {
  /* 配置 */
  position: relative;                                /* 相対配置(元の配置を基準) */
  top: 50px;                                         /* 上端からマージン */
  left: 30px;                                        /* 左端からマージン */
  z-index: 9;                                        /* 重なり順序:最大-1 */
  /* アニメーション */
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}
@keyframes blink {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

#articleDetail {
}

#articleDetail #articleDetailBody {
  /* 他要素との調停 */
  width: 0;                                          /* 横幅(背景アニメーションとの調停) */
  padding-top: 30px;                                 /* 上パディング(headerとの調停) */
  padding-bottom: 50px;                              /* 下パディング(footerとの調停) */
  /* 配置 */
  margin-left: 30px;                                 /* 左マージン */ 
  position: relative;                                /* 相対配置(元の配置を基準) */
  z-index: 9;                                        /* 重なり順序:最大-1 */
  /* フェードイン(初回限定) */
  animation-name: fadein;                            /* @keyframes呼出でfadeinアニメーション */
  animation-duration: 2s;                            /* アニメーション時間 */
  /* 初回以降フェードイン */
  transition: opacity 1s, visibility 0s ease 1s;     /* アニメーション時間 */
  transition-delay: 0s;                              /* アニメーション開始までのディレイ時間 */
}
/* --- フェードイン(初回限定) --- */
@keyframes fadein {
from {
  opacity: 0;                                        /* 画面非表示(透明度) */
  transform: translateX(30px);                       /* 表示開始位置(X軸) */
  visibility: hidden;                                /* 画面非表示(ボックス) */
}
to {
  opacity: 1;                                        /* 画面表示(透明度) */
  transform: translateY(0);                          /* 表示開始位置(Y軸) */
  visibility: visible;                               /* 画面表示(ボックス) */
}
}

/* javascript側で".is-show"を付与 */
#articleDetail #articleDetailBody.is-show { 
  /* フェードアウト */
  transition: opacity 1s, visibility 0s ease 1s;     /* アニメーション時間 */
  opacity: 0;                                        /* 画面非表示(透明度) */
  visibility: hidden;                                /* 画面非表示(ボックス) */
}

#articleDetail #articleDetailBody .articleDetailBodyList {
  /* .articleDetailBodyList同士の調停 */
  margin-top: 35px;                                  /* 上マージン */ 
  padding-bottom: 15px;                              /* 下マージン */ 
  padding-left: 5px;                                 /* 左マージン */ 
  width: 220px;                                      /* 横幅 */
  background-color: #282828;                         /* 背景色 */
}

#articleDetail #articleDetailBody .articleDetailBodyList h1 {
  /* 'normalize.css'との調停 */
  font-size: 33px;                                   /* フォントサイズ */
  margin: 0;                                         /* マージン無効 */
  margin-bottom: 20px;                               /* 下マージン */ 
  padding: 0;                                        /* パディング無効 */
  /* 装飾 */
  color: #87CEFA;                                    /* 文字色 */
  display: inline-block;                             /* インライン要素化(ボーダーとの調停) */
  border-bottom: 1px solid #C71585;                  /* ボーダー */
}

#articleDetail #articleDetailBody .articleDetailBodyList ul li {
  margin-left: 1em;                                  /* 左マージン */ 
  list-style: none;                                  /* マーカー表示OFF */
  line-height: 1.0;                                  /* <li>の文字の高さ(行間) */
}

#articleDetail #articleDetailBody .articleDetailBodyList ul li:before {
  content: "✗";                                      /* ユーザー定義のマーカー */
  color: #DC143C;                                    /* マーカー色 */
  padding-right: .8em;                               /* 右パディング(contentと<li>の間) */ 
}

/* --- 3D CSS Animated Cube(https://www.codicode.com/demo/animated_3d_css_cube/) --- */
#wrap_cube {
  margin-top: 150px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  /* 配置 */
  position: fixed;                                   /* 絶対配置(スクロール対応) */
  bottom: 30%;                                       /* 下基準配置 */
  left: 20%;                                         /* 左基準配置 */
  z-index: 0;                                        /* 重なり順序:最小 */
}
#cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}
#cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-color: #000;
  border: solid 1px #eeeeee;
  color: #ffffff;
}
#cube #cube_front {
  transform: translateZ(100px);
}
#cube #cube_back {
  transform: translateZ(-100px) rotateY(180deg);
}
#cube #cube_right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
#cube #cube_left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}
#cube #cube_top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}
#cube #cube_bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}
@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
#cube {
  animation: rotate 20s infinite linear;
}
#wrap_cube:hover #cube #cube_front {
  transform: translateZ(200px);
}
#wrap_cube:hover #cube #cube_back {
  transform: translateZ(-200px) rotateY(180deg);
}
#wrap_cube:hover #cube #cube_right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}
#wrap_cube:hover #cube #cube_left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}
#wrap_cube:hover #cube #cube_top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}
#wrap_cube:hover #cube #cube_bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}
#cube > div {
  transition: transform 0.5s ease-in;
}

/* ------------------------- EOF ------------------------- */
